In [2]:
#Question 1
print("Hello to python Programming")

Hello to python Programming

In [7]:
#Question 2
x = int(input("Enter first integer: "))
y = int(input("Enter second integer: "))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

Enter first integer: 3
Enter second integer: 2
5
1
6
1.5
1

In [17]:
#Question 3
x1,x2,x3 = eval(input("Enter marks for three subjects seperated by commas: "))
print("The average of the three subjects is: ", (x1+x2+x3)/3)

Enter marks for three subjects seperated by commas: 70,80,90
The average of the three subjects is:  80.0

In [18]:
#Question 4
x1,x2,x3 = eval(input("Enter length for three sides of the prism: "))
print("Surface area of the prism is: ", (2*(x1*x2) + 2*(x2*x3) + 2*(x3*x1)))

Enter length for three sides of the prism: 4,5,6
Surface area of the prism is:  148

In [19]:
#Question 5
print("Speed of the plane is: ", 395000/9000)

Speed of the plane is:  43.888888888888886

In [22]:
#Question 6
volume = 12*7*2
time = 17 #cubic meters in an hour
print("Time taken to empty the pool is: ", volume/time,"hrs")

Time taken to empty the pool is:  9.882352941176471 hrs

In [24]:
#Question 7
x = eval(input("Enter temperature in celsius: "))
print("Temperature in farenheit is: ", (x * (9/5)) + 32, "degrees")

Enter temperature in celsius: 37.8
Temperature in farenheit is:  100.03999999999999 degrees

In [25]:
#Question 8
Vfinal = 10 #m/sec
Vinitial = 0 #m/sec
print("Acceleration of the car is: ", (10-0)/20, "m/sec")

Acceleration of the car is:  0.5 m/sec

In [28]:
#Question 9
name = input("Enter name: ")
roll = input("Enter roll no.: ")
age = int(input("Enter age: "))
Pmarks = eval(input("Enter physics marks: "))
Cmarks = eval(input("Enter chemistry marks: "))
Mmarks = eval(input("Enter maths marks: "))
print("Name: ", name)
print("Roll No.: ", roll)
print("Age: ", age)
print("Physics: ", Pmarks)
print("Chemistry", Cmarks)
print("Maths", Mmarks)
print("Total: ", (Pmarks + Cmarks + Mmarks), "Average: ", (Pmarks + Cmarks + Mmarks)/3)

Enter name: Rupen
Enter roll no.: 2
Enter age: 19
Enter physics marks: 69
Enter chemistry marks: 70
Enter maths marks: 71
Name:  Rupen
Roll No.:  2
Age:  19
Physics:  69
Chemistry 70
Maths 71
Total:  210 Average:  70.0

In [33]:
#Question 10
eName = input("Enter employee name: ")
email = input("Enter email ID: ")
design = input("Enter designation: ")
code = input("Enter empoyee code: ")
salary = eval(input("Enter employee salary: "))

PF = (12*salary)/100
DA = (18*salary)/100
HRA = (10*salary)/100
IT = (9*salary)/100
NetPay = salary + DA + HRA - (PF + IT)

print("**************Birla Institute of Technology*****************\n\n")
print("Name: ", name, "\t empCode: ", code, "\t Designation: ", design, "\n Salary: ", salary, "\t email ID: ", email)
print("\n\nPF: ", PF, "\t DA: ", DA, "\t HRA: ", HRA, "\n IT: ", IT, "\t Netpay: ", NetPay)

Enter employee name: Rupen
Enter email ID: rupen@gmail.com
Enter designation: Student
Enter empoyee code: 45002
Enter employee salary: 69000
**************Birla Institute of Technology*****************


Name:  Rupen 	 empCode:  45002 	 Designation:  Student
 Salary:  69000 	 email ID:  rupen@gmail.com


PF:  8280.0 	 DA:  12420.0 	 HRA:  6900.0
 IT:  6210.0 	 Netpay:  73830.0

In [37]:
#Math built-in function(built in functions do not need importing of a module)
x = -1
print(abs(x))

print(max(69, 34,1))

print(min(69, 70, 71))

print(pow(2,3))

1
69
69
8

In [14]:
#Math functions using math module
import math as m

print(m.fabs(-2))

print(m.ceil(2.1))

print(m.floor(2.9))

print(m.exp(1))

print(m.log(2.718))

print(m.log(8,2))

print(m.sqrt(16))

print(m.sin(30))

print(m.asin(1/30))

print(m.degrees(m.pi/3))

print(m.radians(360))

2.0
3
2
2.718281828459045
0.999896315728952
3.0
4.0
-0.9880316240928618
0.03333950926130209
59.99999999999999
6.283185307179586

In [4]:
#Question 9
import random as r
x = r.random()

if x >= 0.9:
    print('A')
elif x >= 0.8:
    print('B')
elif x >= 0.7:
    print('C')
elif x >= 0.6:
    print('D')
else:
    print('F')

A

In [8]:
#Question 10

x,y,z = eval(input('Enter any three numbers seperated by commas: '))

if x > y:
    if x > z:
        print(x, 'is the maximum')
    else:
        print(z, 'is the maximum')
else:
    if y > z:
        print(y, 'is the maximum')
    else:
        print(z, 'is the maximum')

Enter any three numbers seperated by commas: 9,8,7
9 is the maximum

In [22]:
#Question 11

lott_number = int(r.randrange(10,100))
print(lott_number)

fir_dig = m.floor(lott_number / 10)
sec_dig = lott_number - (fir_dig * 10)

rev_num = (sec_dig * 10) + fir_dig
print(rev_num)

u_input = int(input('Enter any two digit number: '))

if u_input == lott_number:
    print('You won $10000!!')
elif u_input == rev_num:
    print('You won $3000!!')
elif (m.floor(u_input / 10) == fir_dig) or (m.floor(u_input / 10) == sec_dig):
    print('You won $1000!!')
else:
    print('You won nothing!!')

76
67
Enter any two digit number: 11
You won nothing!!

In [25]:
#Question 12

year = int(input('Enter any year: '))

if year % 4 == 0:
    print('Year is leap year!')
else:
    print('Year is not a leap year!')

Enter any year: 2010
Year is not a leap year!

In [29]:
#Question 14

num = int(input('Enter any four digit integer: '))
div = 1000
rem = 0
rev = 0
i = 1

while div != 0:
    rem = num // div
    num = num - (rem * div)
    rev = rev + (rem * i)
    div = div // 10
    i = i * 10
print('Reverse number is: ', rev)

Enter any four digit integer: 1234
Reverse number is:  4321

In [ ]:
#Question 15

num = int(input('Enter any integer: '))